<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Exploding Ninjas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>

        #hand {
            position: absolute;
            bottom: 0;
            margin: 0px auto;
            width: 1100px;
            border: 2px solid black;
            /* display: block; */
        }

        .card {
            height: 125px;
            width: 100px;
            border-radius: 15px;
            box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.582);
            display:inline-block;
            vertical-align: top;
            margin-right: 10px;
            padding: 10px;
            z-index: 1000;
        }

        #deck {
            height: 150px;
            width: 115px;
            border: 2px solid black;
            box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.582);
            border-radius: 15px;
            display:inline-block;
            padding: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-100%,-50%);
        }
        #discard {
            height: 150px;
            width: 115px;
            border: 2px solid black;
            box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.582);
            border-radius: 15px;
            display:inline-block;
            padding: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(45%,-50%);
        }

    </style>
</head>

<body>

<div id="deck">
    <p id="deckLength">cards left 0</p>
</div>
<div id="discard">
    <p id="deckLength">No cards Here</p>
</div>
<div id="hand"></div>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script>

    $(document).ready(function (){

        var socket = io(); //1

        var local_players = {};

        var my_id;
        var hand;
        var deck;
        var discard;
        var isTurn = false;

        socket.on('new_user', function(data){
            my_id = data.id
            hand = data.hand
            render_hand(hand)
        })

        socket.on('senddecktoall', function(data){
            deck = data
            $('#deckLength').html('cards left ' + deck.length);
        })

        socket.on('turnupdate', function(data){
            console.log("turnupdateon", data)
            if (my_id === data.id) {
                isTurn = true
            }
            console.log("clients istrue", isTurn)
        })
        socket.on("updateddiscard", data => {
            discard = data;
            console.log("discraded card",discard);
            $('#discard').empty();
            $('#discard').append('<div class="card" id="'+ discard.id +'">' + discard.name + '</div>');
        })

        socket.on('disconnect', function(data){
            local_players = data.players;
        })

        function render_hand(hand) {
            for (var i = 0; i < hand.length; i++) {
                $('#hand').append('<div class="card" id="'+ hand[i].id +'">' + hand[i].name + '</div>')
            }
        }

        $('#deck').click(function(){
            if (isTurn) {
                hand.push(deck.pop())
                $('#hand').append('<div class="card" id="'+ hand[hand.length-1].id +'">' + hand[hand.length-1].name + '</div>')
                socket.emit("drewcard", my_id)
                socket.emit("updatedeck", deck)
                isTurn = false;
            } else {
                console.log("not your turn")
            }
        })

        $('#hand').on("click", ".card", function(e){
            if (isTurn) {
                console.log("hand before ",hand);
                for(let i = 0; i <= hand.length; i++){
                    console.log("hand id",hand[i].id);
                    console.log("clicked card",e.target.id);
                    if(hand[i].id === parseInt(e.target.id)){
                        socket.emit("discard", hand[i]);
                        hand.splice(i,1);
                        $("#hand").empty();
                        render_hand(hand);
                        console.log("hand after ",hand);
                        break;
                        
                    }
                } 

            } else {
                console.log("calm down not ur turn");
            }
        })
    });

</script>
</body>
</html>