<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Exploding Ninjas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="blur" style="height: 100vh;">
        <button id="resetGame">Reset Game</button>
        <div id="players"></div>
        
        <div id="packs" class="packs">
            <div id="deck" class="packs__deck">
                <p id="deckLength" class="text-center">Cards Left 0</p>
            </div>
            <div id="discard" class="packs__discard discard">
                <p id="deckLength" class="text-center">No Cards Here</p>
            </div>
        </div>
        
        
        <div class="handWrapper">
            
            <div id="myStats">
                <p id="myName"></p>
                <p id="isMyTurn"></p>
            </div>
            <div id="hand" class="hand">
            </div>
        </div>
        
        
        
        <div id="loginWrapper" class="loginWrapper">
            <form>
                <div class="form-group text-center">
                    <label id="nameInputLabel" class="loginLabel" for="name">Enter Your Name:</label>                <input id="nameInput" class="loginInput form-control" type="text" name="name" placeholder="Whats's your ninja name?">
                </div>
                <div class="btnWrapper text-center">
                    <button id="joinButton" class="joinbtn btn btn-success" >Join</button>
                    <button id="startGame" class="startGamebtn btn btn-warning" disabled>0/2 Start Game</button>
                </div>
            </form>
            <div id="playerLobby"></div>
        </div>
    </div>
    <div id="action" class="action">
        <button id="close" class="btn btn-danger close">X</button>
        <p class="winner" style="color: #5dec5d;"></p>
        <p class="seeFuture"></p>
        <p class="turnStatus"></p>
        <p class="loserStatus" style="color: #f36262;"></p>
        <p class="loser" style="color: #f36262;"></p>
    </div>
    
    <div id="howManyDown" class="howManyDown">
        <p class="text-center infoHowManyDown"></p>
        <p class="text-center">How many cards down to place the bomb?</p>
        <input min="0" max="40" type="number" id="valHowManyDown" class="valHowManyDown"></input>
        <button id="subHowManyDown">Put card back in deck</button>
    </div>
    
    
    <button id="aboutUs" type="button" class="btn btn-secondary aboutUs" data-toggle="modal" data-target="#exampleModal">About Us</button>
          
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Creators</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>
                <a href="https://github.com/haythamodeh" target="_blank"><i class="fa fa-github github"></i></a> Haytham Odeh
                <a href="https://github.com/samkguerrero" target="_blank"><i class="fa fa-github github"></i></a> Sam Guerrero 
                <a href="https://github.com/vladdziun" target="_blank"><i class="fa fa-github github"></i></a> Vlad Dziun
            </p>
            <hr>
            <p>
                3 simple guys who wanted a challenge, so they decided to make a replica 
                of the game called Explosive Kittens known as Explosive Ninja. This game is
                in it's final stages, more features will come so stay stuned.
                We are DREAM TEAM!!
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>


    </body>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script  type="text/javascript" src="/js/scripts.js"></script>

</html>