<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Exploding Ninjas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

    <button id="resetGame">Reset Game</button>
    <p class = "seeFuture"></p>

    <div id="players"></div>
    
    <div class="packs">
        <div id="deck" class="packs__deck">
            <p id="deckLength" class="text-center">Cards Left 0</p>
        </div>
        <div id="discard" class="packs__discard discard">
            <p id="deckLength" class="text-center">No Cards Here</p>
        </div>
    </div>
    
    <div id="howManyDown">
        <p>How many cards down to place the bomb?</p>
        <input min="0" max="40" type="number" id="valHowManyDown"></input>
        <button id="subHowManyDown">Put card back in deck</button>
    </div>
    
    <div id="hand">
    </div>
    
    <div id="myStats">
        <p id="myName"></p>
        <p id="isMyTurn"></p>
    </div>
    
    <label id="nameInputLabel" for="name">Enter your name:</label>
    <input id="nameInput" type="text" name="name">
    <button id="joinButton">Join</button>
    <button id="startGame" disabled>0/2 Start Game</button>
    
    <div id="playerLobby"></div>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script  type="text/javascript" src="/js/scripts.js"></script>
</body>

</html>