html {
    height: 100%;
    font-size: 62.5%;
}
body {
    min-height: 100%;
    background-image: url("/img/explodingNinjaBackground.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.hand {
    overflow-x: scroll;
    position: absolute;
    left:0;
    bottom: 0;
    margin: 0px auto;
    width: 100%;
    height: 21rem;
    border: 2px dashed pink;
    /* background-image: url("./img/ninjaBanner.jpg"); */
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 2rem;
}
.hand::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
}
.hand::-webkit-scrollbar-thumb {
    background-color: rgb(47, 49, 51);
    border-radius: 3px;
}
.hand::-webkit-scrollbar-corner { 
    background: rgba(0, 0, 0, 0); 
}


.card h5 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}
.card img {
    height: 8rem;
    margin: 0 auto;
    width: 7.5rem;
    position: relative;
    bottom: 1rem;
    display: block;
    border-radius: 50%;
    z-index: 1000;
}

.card p {
    font-size: 1rem;
    position: relative;
    bottom: 1rem;
}

.card {
    /* overflow-y: scroll; */
    background-image: url("/img/samuraiCover.jpg");
    background-position: 60% 16%;
    background-repeat: no-repeat;
    background-size: 108%;
    height: 17.5rem;
    color: #fff;
    width: 13rem;
    border-radius: .6rem;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.44);
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
    margin-bottom: 1rem;
    z-index: 1000;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    /* -webkit-font-smoothing: subpixel-antialiased; */
    -webkit-font-smoothing: antialiased;


}
.card:hover {
    -webkit-font-smoothing: antialiased;

    /* height: 18rem;
    width: 13.5rem; */
    perspective: 1px;
    box-shadow: 0px 0px 5px 1px #88d8ff;
    transform: scale(1.048);

}

.packs {
    position: relative;
    box-sizing: border-box;
    padding: 20rem;
    /* height: 100vh; */
    width: 100%;

    /* background-color: orange;
    border: 2px dashed yellow; */
}

.packs__deck {
    background-image: url("/img/samuraiCover.jpg");
    opacity: .9;
    background-position: 60% 16%;
    background-repeat: no-repeat;
    background-size: 108%;
    height: 17.5rem;
    color: #fff;
    width: 13rem;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.44);
    display:inline-block;
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: all .2s;
}
.packs__deck p {
    font-size: 2rem;
}

.packs__deck:hover {
    height: 19rem;
    width: 15rem;
    /* transform: scale(1.1);
    top: 36%;
    left: 38%; */

}

.packs__discard {
    background-image: url("/img/samuraiCover.jpg");
    opacity: .9;
    background-position: 60% 16%;
    background-repeat: no-repeat;
    background-size: 108%;
    height: 17.5rem;
    color: #fff;
    width: 13rem;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.44);
    display:inline-block;
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%,-50%);
}

.aplayer {
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 2.5rem;
    margin-left: 1.5rem;
    background-color: #00000052;
    border-radius: 7px;
    box-shadow: 0px 0px 6px 0px #ffffffad;
}
.aplayer p {
    display: inline-block;
    margin-left: 1rem;
}
.cardholder {
    /* border: 1px solid black; */
    padding: .7rem;
}
.playerscard {
    /* border: 1px solid black; */
    background-image: url("/img/samuraiCover.jpg");
    width: 2rem;
    height: 3.3rem;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.3rem;
}
#myStats {
    position: absolute;
    bottom: 210px;
    color: white;
    font-size: 23rem;
    margin-left: 2rem;
    font-size: 2.3rem;
}
#myStats p {
    display: inline-block;
}


.loginWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40rem;
    height: 25rem;
    font-size: 2.5rem;
    color: white;
    background-color: #18282f7a;
    box-shadow: 0px 0px 15px 0px #5e6e7f;
    border-radius: 20px;
    padding: 1rem 5rem;
    /* border: 2px dashed yellow; */
}
.loginWrapper .loginLabel {
    margin-top: 5rem;
}
.loginWrapper .joinbtn, .loginWrapper .startGamebtn {
    width: 15rem;
}
#howManyDown {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 2rem;
    width: 30rem;
    transform: translate(-50%,-50%);
    width: 45rem;
    padding: 2rem;
    height: 20rem;
    background-color: #0000008c;
    box-shadow: 0px 0px 6px 0px #ffffffad;
    border-radius: 10px;
}
.valHowManyDown {
    margin-left: 5rem;
}
.action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 45rem;
    padding: 2rem;
    height: 23rem;
    font-size: 2rem;
    background-color: #0000008c;
    box-shadow: 0px 0px 6px 0px #ffffffad;
    border-radius: 10px;
}
.action .close {
    width: 5rem;
    height: 3rem;
    padding: .4rem;
    float: right;
    color: white;
    background-color: #dc3545;
}
.aboutUs {
    width: 15rem;
    height: 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    margin: 2rem; 
}
.modal-body p {
    font-size: 1.5rem;
}
.modal-body .github {
    font-size: 2rem;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #2196F3;
}